<div class="item">
    <input
      type="checkbox"
      [checked]="item.done"
      (change)="item.done = !item.done"
      [id]="item.description" />
  
    <label [for]="item.description">{{item.description}}</label>
  
    <div class="btn-wrapper" *ngIf="!editable">
      <button class="btn" (click)="editable = true">Edit</button>
      <button class="btn btn-warn" (click)="remove.emit()">Delete</button>
    </div>
  
    <div *ngIf="editable">
      <input
        class="sm-text-input"
        [value]="item.description"
        #editedItem
        (keyup.enter)="saveItem(editedItem.value)" />
  
      <div class="btn-wrapper">
        <button class="btn" (click)="editable = false">Cancel</button>
        <button class="btn btn-save" (click)="saveItem(editedItem.value)">Save</button>
      </div>
    </div>
  </div>
  